/* Flexbox | Ayuda al posicionamiento de los objetos */
/* Google Fonts | Descargar Fuentes */

/*Importa la fuente con el link obtenido desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* Variable */
:root{
    --color-primario: #000000;
    --color-secundario: #F6F6F6;
    --color-terciario: #22D4FD;

    --fuente-Montserrat: 'Montserrat', sans-serif;
    --fuente-Krona: 'Krona One', sans-serif;
}


/* Usar un solo asterisco ( * ) sirve para realizar cambios universales en mi archivo css */
* {
    /* Eliminamos el padding */
    padding: 0;
    /* Eliminamos el margen */
    margin: 0;
}




/* Modificamos la etiqueta <body> de nuestro archivo 'portafiolio.html' */

body{
    
    /* Cambia el color del fondo */
    background-color: var(--color-primario);
    
    /* Cambia el color del texto */
    color: var(--color-secundario);
    
    /* Hace que nuestro <body> ocupe el 100% de la altura de la pagina*/
        /*  height: 100vh;  */

    /* Evita que los elementos que están dentro del <body> sobrepasen la caja de este mismo*/
    box-sizing: border-box;
}

/* Usar un punto ( . ) para indicar el nombre de la clase*/
/* La clase es el nombre de la etiqueta en el archivo html*/

.header{
padding: 2% 0% 0% 10%;

}


.header__menu{
    display: flex;
    gap: 80px;
}

.header__menu__link{
    font-family: var(--fuente-Montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}
/* Flexbox | Ayuda al posicionamiento de los objetos */
.presentacion{
    display: flex;

    /*Alinea los elementos*/
    align-items: center;

    /* Margen de la box de la etiqueta <main> */
        /*  margin: 10% 15%;    */

    padding: 5% 10% 3% 10%;

    /* Separacion entre los objetos dentro de <body> */
    justify-content: space-between;

    gap: 82px;
}

.presentacion__contenido{
    width: 50%;

    display: flex;

    flex-direction: column;

    /*Espacio entre los elementos*/
    gap: 40px;
}

.presentacion__contenido__titulo{
    /* Tamaño de la fuente */
    font-size: 2.25rem;

    /* Tipogragía de la fuente*/
    font-family: var(--fuente-Krona);
}

.titulo-destaque{
    color: var(--color-terciario);
}


.presentacion__contenido__parrafo{
    /* Tamaño de la fuente */
    font-size: 1.5rem;

    /* Tipogragía de la fuente*/
    font-family: var(--fuente-Montserrat);
}

.presentacion__enlace{
    /* Pading es el tamaño del interior de la caja*/
    padding-top: 0px;
    
    display: flex;
    
    justify-content: space-around;

    flex-direction: column;

    /*Alinear los items*/
    align-items: center;

    /*Espacio entre los items*/
    gap: 32px;
}

.presentacion__enlace__subtitulo{
    /* Tipogragía de la fuente*/
    font-family: var(--fuente-Krona);

    /* Tamaño de la fuente */
    font-size: 1.5rem;

    /*Grosor del texto */
    font-weight: 400;
}

.presentacion__enlace__link{
    /* Ancho del boton*/
    width: 50%;
    
    /* Esquinas del boton */
    border-radius: 8px;

    /*Grosor del borde | tipo de borde | color*/
    border: 2px solid var(--color-terciario);

    font-family: var(--fuente-Montserrat);

    font-size: 1.5rem;

    /*Grosor del texto */
    font-weight: 600;

    /* Elimina la linea del link asignado al texto del boton*/
    text-decoration: none;

    color: var(--color-secundario);
    
    /*Alinea el texto*/
    text-align: center;

    /* Primer valor es el vertical, el segundo horizontal*/
    padding: 21.5px 0px;

    /*Nivelar items*/
    display: flex;

    /*En eje Horizontal, centrar items*/
    justify-content: center;

    /*Espacio entre items*/
    gap: 10px;
}

/*Cambiar color de los enlaces cuando el cursor este encima de ellos*/
.presentacion__enlace__link:hover{
    background-color: #272727;

}

.presentacion__imagen{
    width: 50%;
}

.footer{
    background-color: var(--color-terciario);
    
    /*Espacio de la box*/
    padding: 24px;

    color: var(--color-primario);

    text-align: center;

    font-family: var(--fuente-Montserrat);

    font-size: 1.5rem;

    font-weight: 400;
}


/*Ajustar contenido dependiendo el dispositivo*/
@media (max-width: 1200px){
    
    .header{
        padding: 10%;
    }

    .header__menu{
        justify-content: center;
    }

    /*Cambiamos de Horizontal a Vertical*/
    /*Las etiquetas <selection> y <img> estan dentro de <main>*/
    .presentacion{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentacion__contenido{
        width: auto;
    }
}